@import url('~/app.css');

#orderedProductsTable {
	margin-top: 10;
}
Label {
	margin-left: 10;
	margin-right: 10;
}

StackLayout {
	padding: 0;
}

Button {
	margin: 0;
	padding: 0;
}

.th {
	padding: 10;
}

.remove-btn {
	color: darkred;
}

#total-label, #total-value {
	margin-top: 20;
}

GridLayout {
	margin-top: 15;
}