@import url('~/app.css');

Label {
	margin-left: 10;
	margin-right: 10;
}

StackLayout {
	padding: 0;
}

Button {
	width: 140;
	padding: 5;
}

GridLayout {
	margin-top: 5;
	padding: 5 10 ;	
}

.remove-btn {
	color: red;
}

.row {
	border-bottom: 1 solid green;
}

Image {
  border-radius: 100;
  width: 56;
  height: 56;
}

#footer {
	margin-top: 15;
}

Border {
	margin-top: 15;
}