/* Imports platform specific CSS */
@import { url('~/platform.css') };

/* Native components */
TextField {
	margin: 10;
	padding: 10;
}

Button {
	margin: 10;
	padding: 10;
}

/* Text */
.text-huge {
	font-size: 36;
}

.text-big {
	font-size: 28;
}

.text-normal {
	font-size: 18;
}

.text-small {
	font-size: 14;
}

.text-centered {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.title {
	margin-top: 10;
	margin-bottom: 10;
	font-size: 28;
}

/* Positioning */
.centered {
	horizontal-align: center;
}



