@import url('~/app.css');

Image {
	margin-top: 10;
	margin-bottom: 10;
}

#product-container {
	margin-top: 0;
	padding: 20;
}

#description {
	margin-top: 20;
	margin-bottom: 10;
}

#remove-btn, #add-btn {
	border-radius: 5;
	width: 42;
	height: 42;
	color: white;
	padding: 0;
}

#add-btn {
	background-color: yellowgreen;
}

#remove-btn {
	background-color: darkred;
}
	
GridLayout {
	padding: 0 20;
}